body{
  background-color:hsl(212, 45%, 89%) ;
}
*{
  box-sizing: border-box;
  margin:  auto;
  margin-top: 1em
}
main{
  max-width: 250px;
  background-color: white;
  border-radius: 10px;
}
div{
  padding: 1em;
}
img{
  width: 100%;
  border-radius: 10px;
}
h1{
  text-align: center;
  font-size: 1rem;
  color: hsl(218, 44%, 22%);
}
p{
  text-align: center;
  color:  hsl(220, 15%, 55%);
  font-size: .65rem;
}